@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix(http://ssl.reddit.com),
               url-prefix(http://www.reddit.com),
               url-prefix(https://ssl.reddit.com),
               url-prefix(https://www.reddit.com),
               url-prefix(https://pay.reddit.com/)
{

/* body */


body {

    background-attachment: fixed !important;

    background-color: #151515 !important;

    /*background-image: url("chrome://browser/skin/newtab/noise.png"), linear-gradient(rgba(255,255,255,0.5), rgba(255, 255, 255, 0.2)) !important; */

    font-family: "Helvetica Neue LT Std","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",Tahoma,Verdana,sans-serif !important;
    font-weight: normal !important;

}



/* header */


#header {

    background: #151515 !important;

    border-bottom: none !important;

}



    #sr-header-area {
            position: fixed !important;
            right: 0% !important;
            width: 100% !important;
            left: 0% !important;
            top: 0px !important;
            font-weight: normal !important;

            background: #151515 !important;

            height: 16px !important;
            line-height: 12px !important;
            padding-top: 1px !important;
            border-top: none !important;
            box-shadow: 0px 4px 3px rgba(0,0,0,0.2) !important;
            color: transparent !important;
            z-index: 1001 !important;
        }

    

        .dropdown.srdrop .selected {

            /*background-image: url('http://ompldr.org/vZmJsNQ') !important;

color: #EBEBEB !important;

cursor: pointer;
position: fixed !important;*/
            display: none !important;

        }

    

        #sr-header-area a {

            color: #EBEBEB !important;

            font-size: 9px !important;

            text-decoration: none !important;

            transition: 0.5s color ease;
            top: 2px !important;

        }

        

            #sr-header-area a:hover {

                color: #EBEBEB !important;

            }

        
        

        .sr-bar .separator {

            color: #EBEBEB !important

        }

        
        

        #sr-more-link {

            background: #151515 !important;

            color: #EBEBEB !important;

            height: 13px !important;
            line-height: 11px !important;
            font-weight: normal !important;
            text-align: center !important;
            margin-top: 1px !important;
            position: fixed !important;
        }
        
        /* to do: change 'edit' link to an icon */
        
        /*#sr-more-link::before {
content: url('http://ompldr.org/vZmJsNQ') !important;
text-align: center !important;
background: #151515 !important;
height: 15px !important;
max-width: 22px !important;
min-width: 22px !important;
position: fixed !important;
top: 1px !important;
right: 9px !important;
margin-right: 27px !important;
z-index: 5;
}
#sr-more-link:hover::before {
content: url('http://ompldr.org/vZmJsNQ') !important;
}*/
            
#sr-header-area .selected a {
    color: #dddddd !important;
    font-weight: normal !important;
}
  

    #header-img {
        display: none !important

    }

    
    
    

        .tabmenu {

            vertical-align: 0px !important;
            width: 100% !important;
            text-align: center !important;
            padding-top: 42px !important;
            position: absolute !important;

        }

    

            .tabmenu li a {

                background: transparent !important;

                color: #EBEBEB !important;

                font-size: 9px !important;

                font-weight: 300 !important;
                padding: 0px 6px !important;

                transition: 0.5s color ease;
                border: 0px none !important;
                margin-left: -1px !important;

            }

            

                .tabmenu li a:hover {

                    color: #151515 !important;

                }

        

                .tabmenu li.selected a {

                    color: #EBEBEB !important;
                    background: transparent !important;
                    border: 0px none !important;

                }
                
        ul.tabmenu.formtab {
            margin-top: -10px !important;
        }
    
    #header-bottom-left {
        border: none !important;
        background: none !important;
        box-shadow: none !important;
        height: 60px !important;
        padding-top: 30px !important;
    }


    #header-bottom-right {

        background: #151515 !important;

        box-shadow: none !important;

        font-size: 9px !important;

        font-weight: 300 !important;

        padding: 3px !important;
        width: 100% !important;
        text-align: center !important;
        position: relative !important;

    }

    

        #header-bottom-right a {

            color: #151515 !important;

            transition: 0.5s color ease;

        }

        

            #header-bottom-right a:hover {

                color: #151515 !important;

                text-decoration: none !important;

            }

            

        .user .userkarma {

            border: 0 !important;

            color: #9DBA3A;

            font-weight: 300 !important;

        }
        

        
        .user  {

            border: 0 !important;

            color: #EBEBEB;

            font-weight: 300 !important;

        }
        
        

        

        .pref-lang {
        
            color: #ebebeb;       

            font-weight: 300 !important;

        }


.pagename {
    left: 0px !important;
    width: 100% !important;
    position: absolute;
    text-align: center !important;
    text-decoration: none !important;
    bottom: 40px !important;
    color: #444 !important;
    font: normal 25pt Helvetica Lt STD Light !important;
    top: 30px !important;
}

pagename a {
    display: none !important;
}





/* side */


.side {

    background: #EBEBEB !important;

    box-shadow: rgba(0,0,0,0.25) 0 0 10px !important;
    border: 1px solid #505050 !important;
    position: fixed !important;

    padding: 16px !important;
    float: right !important;
    width: 180px !important;

    right: 2px !important;
    top: -100% !important;

    z-index: 1000 !important;

}


.side::before {
    content: url('http://ompldr.org/vZmVpNg');
    text-align: center !important;
    background: #151515 !important;
    height: 15px !important;
    max-width: 22px !important;
    min-width: 22px !important;
    position: fixed !important;
    top: 1px !important;
    right: 9px !important;
    margin-right: 27px !important;
    z-index: 5;
}

.side:hover::before {
    content: url('http://ompldr.org/vZmVpNw') !important;
}

.side:hover {
    position: fixed !important;
    top: 17px !important;
}



.sidebox .subtitle {
    background: #151515 !important;
}

.sidebox .spacer {
    position: relative;
    margin-top: 10px;
    padding: 5px 0px 0px 44px;
    min-height: 41px;
    background: transparent !important;
}

.titlebox {
    font-size: larger;
    text-align: center !important;
}

a {
    color: #EBEBEB !important;
    font-weight: normal !important;
    text-decoration: none !important;
}

.md {
    max-width: 60em;
    overflow: auto;
    font-size: small;
    color: #646464 !important;
}

.titlebox h1 {
    color: white !important;
    font-family: Helvetica !important;
    font-size: 11px !important;
    text-align: center !important;
    width: 100% !important;
    position: absolute;
    top: 5px;
    left: 11px;
}

.titlebox h1 a {
    display: none !important;
    color: white !important;
    font-family: Helvetica !important;
    font-size: 12px !important;
    text-align: center !important;
    width: 100% !important;
    position: absolute;
    top: -3px;
    left: -5px !important;
}

.morelink {
    text-align: center;
    font-size: 11px !important;
    font-weight: normal !important;
    line-height: 29px;
    letter-spacing: 0px !important;
}

.linkinfo {
    padding: 5px;
    border: 1px solid rgb(95, 153, 207);
    background-color: #151515 !important;
    color: #EBEBEB;
    font-size: larger;
    border-radius: 3px 3px 3px 3px;
    text-align: center !important;
}

    .linkinfo .score .word {
        font-family: Helvetica !important;
        font-size: 16px !important;
        font-weight: bold;
        color: #151515 !important;

    }

    .linkinfo .score .number {
        font-size: 18px !important;
        font-weight: bold;
        font-family: Helvetica !important;
        color: #151515 !important;
    }

    .linkinfo .upvotes {
        font-size: 80%;
        color: #646464 !important;
    }
    
    .linkinfo .downvotes {
        font-size: 80%;
        color: #646464 !important;
    }

    .linkinfo .shortlink input {
        border: 1px solid gray;
        padding: 3px 3px;
        width: 140px !important;
    }





/* content */


.link {
    color: #EBEBEB !important;

    border: 1px solid #EBEBEB !important;

    min-height: 60px;

    padding: 12px 0 !important;

    position: relative;
    background: #151515 !important;
    margin-bottom: -1px !important;
    width: 80% !important;
    right: 10% !important;
    left: 10% !important;

}

.link.promotedlink, .organic-listing .link, .organic-listing .link.promotedlink,.organic-listing .promoted,.organic-listing {
    padding: 12px 0px !important;
    margin-bottom: -10px !important;
}



.link.last-clicked {

    color: #333333 !important;

}



    .lk .thumbnail {

        margin-right: auto !important;

        width: auto !important;

    }



        .link .thumbnail img {

            border: 1px solid #ebebeb !important;

            box-shadow: rgba(0,0,0,0.2) 0 0 8px !important;
            width: auto !important;

        }

    

    .thing p.title {

        padding-bottom: 0px !important;

    }



        .thing .title.loggedin {

            color: #ebebeb !important;

            font-size: 9px !important;

            line-height: 18px !important;

            text-indent: 155px;

            text-shadow: none !important;

            transition: 0.5s ease all;

        }

        
        

        .thing .title.loggedin:visited {

            box-shadow: none !important;

            color: #ebebeb !important;

        }
        
        

    

    .tagline {

        color: #999 !important;

        font-size: 9px !important

    }

    

    .link .flat-list {

        color: #ebebeb !important;

        font-size: 14px !important;
        
    }

    

        .entry .buttons li a {
            /*background: transparent !important;
border: 0px #ebebeb !important;*/

            color: #ebebeb !important;
            font-size: 11px !important;

            font-weight: normal !important;

            padding: 0 8px 3px !important;

            transition: 0.5s ease all;

        }

        

            .entry .buttons li a:hover {
                /*background: transparent !important;
border: 0px #eee !important;*/

                color: #ebebeb !important;

                text-decoration: none !important;

            }

            

    .expando-button {display: none !important}

.organic-listing .nextprev, .organic-listing .help {
    display: none !important;
}

.title {
    color: #ebebeb !important;
    background: none !important;
    text-align: left;
}

.title.click {
    color: #1c1c1c !important;
    background: none !important;
}

.comment .author {
    font-weight: normal;
    color: #660000
}

a.author {
    margin-right: 0.5em;
    font-weight: normal;
    color: #660000
}

.tagline .submitter {
    color: #660000;
}




/* submitting a link */

.roundfield {
    background: #151515 !important;
    -webkit-border-radius: 10px;
    border-radius: 10px !important;
    margin: 0 auto !important;
    border: 1px solid #ebebeb !important;
}

.roundfield textarea {
    width:492px!important;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #ebebeb !important;
    background: #151515 !important;
}

    .roundfield .title {
        color: #ebebeb !important;
    }

.textarea {
    color: #ebebeb !important;
    background: #151515 !important;
    border: none !important;
}

#link-desc.infobar {
    background-color: #151515 !important;
    color: #ebebeb !important;
    border-color: #ebebeb !important;
    -webkit-border-radius: 0px;
    border-radius: 10px;
    border:none !important;
}

#newlink.submit.content {
    width:58em !important;
    margin-right:auto !Important;
    margin-left:auto !important;
    box-shadow:none !important;
    -webkit-box-shadow:none !important;

}

#newlink.submit.content .spacer {
    box-shadow:none !important;
    -webkit-box-shadow:none !important;

}

.formtabs-content {
    border-top:none !important;
    margin:0 auto !important;
}

.tabmenu.formtab {
    margin-left:6em !important;
}

.infobar {
    background: #151515 !important;
    border: #ebebeb 1px solid !important;
    -webkit-border-radius:10px;
    border-radius:10px;
}


#url {
    color: #ebebeb !important;
    background: #151515 !important;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#sr-autocomplete {
    color: #ebebeb !important;
    background: #151515 !important;
    -webkit-border-radius:5px;
    border-radius: 5px;
}

#newlink.submit.content .btn {
    margin-left:6.7em !important;
    margin-top:1em !important;
}

#text-desc.infobar {
    background: #ebebeb !important;
    color: #ebebeb !important;
}

.nextprev {
    text-align: center !important;
}




/* reddits */

.sr-interest-bar {
    position: relative;
    background: none !important;
    overflow: hidden;
    border: none !important;
    margin-bottom: 5px;
    background: #ebebeb !important;
    top: 10px !important;
    width: 100% !important;
}

    .sr-interest-bar .bubble p {
        display: none !important;
    }
    
    .sr-interest-bar .query-box {
        position: relative;
        border: 1px solid #ebebeb !important;
    }
    
    .sr-interest-bar .query {
        font-size: 10px !important;
        margin: 0px;
        padding: 0px;
        outline: none !important;
    }
    
    .sr-interest-bar ul.results {
        font-size: 11px !important;
    }
    
.searchpane {
    display: none !important;
    background: none !important;
    position: relative !important;
    border: none !important;
    width: 45% !important;
}

    .raisedbox h4 {
        font-weight: normal !important;
        text-align: left !important;
        border: 1px solid #ebebeb !important;
    }

.infobar {
    display: none !important;
}

.menuarea {
    border-bottom: 0px none !important;
    text-align: center !important;
    padding: 0px 0px 0px 0px !important;
    width: 100% !important;
    color: #ebebeb !important;
}

.dropdown.lightdrop .selected {
    text-decoration: none !important;
    color: #ebebeb !important;
}

.selected, .choice.primary {
    font-weight: normal !important;
}





/* random */

h1 {
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0px;
    text-align: center !important;
}

#search input{
    display: none !important;
}

.goldvertisement {
    display: none !important;
}

#ad-frame {
    display: none !important;
}

.infobar.welcome {
    display: none !important;
}

.titlebox .md {
    display: none !important;
}

.sidecontentbox .content {
    display: none !important;
}

a.helplink {
    display: none !important;
}


.titlebox .age {
    display: none !important;
}

.titlebox .bottom {
    display: none !important;
}

.titlebox form.flairtoggle {
    display: none !important;
}

.titlebox .tagline {
    display: none !important;
}

.users-online {
    display: none !important;
}

.sidecontentbox .title h1 {
    display: none !important;
}

.organic-listing {
    border: 0px none !important;
}
    
    
}

